.reviews_section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f8fa;
  padding-top: 57px;
}

.title {
  margin-bottom: 32px;
  color: #191c1f;
  text-align: center;

  /* Headline 2 */
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 140% */
}

.wrapper {
  max-width: 1273px;
  height: 600px;
}
