* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Graphik LCG;
  src: url("./fonts/GraphikLCG/GraphikLCG-Regular.woff2") format("woff2"),
    url("./fonts/GraphikLCG/GraphikLCG-Regular.woff") format("woff");
}

body {
  font-family: Graphik LCG, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
